
{% for article in articles %}
    <div>
        <a href="/product/{{article.id}}">
            <img src="/storage/{{article.picture}}" width="40">
            <span>{{ article.name }}</span>             
        </a>
    </div>
    
{% endfor %}